/* html,
body {
  height: 100%;
} 

.form-signin {
  max-width: 330px;
  padding: 1rem;
} */
/* body {
    background-color: navy;
} */

.content {
    margin-top: 50px; /* Sesuaikan dengan tinggi navbar */
    padding: 20px;
}

/* Responsif */
@media (max-width: 768px) {
    .content {
        margin-top: 50px;
        padding: 10px;
    }
}
